<h1><%= @song_name %></h1>
<h2>From: <%= @song[@song_name[song_movie] %></h2>
<p>Lyrics: </br>
<%= @song_lyrics %></p>
<p><a href="https://www.youtube.com/watch?v=<%= @youtube_link %>">Youtube video</a></p>
<!-- <p><a href="<%= @songs[:song_link] %>">Youtube video</a></p> -->

<p><a href="/">Home</a></p>
<p><a href="/index">Song Index</a></p>